/* Base Application Styles */
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: blueviolet;
}
li{
  list-style: none;
}
.index{
  text-align: center;
}
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  background: #666;
}
.index .page li{
  margin: 20px 0;
}
